@import url(../../../https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i);





body {
  font-family: Rubik;
  font-style: normal;
  line-height: 1.5;
}
.mbr-section-title {
  font-style: normal;
  line-height: 1.2;
}
.mbr-section-subtitle {
  line-height: 1.3;
}
.mbr-text {
  font-style: normal;
  line-height: 1.6;
}
.display-1 {
  font-family: 'Rubik', sans-serif;
  font-size: 4.25rem;
}
.display-1 > .mbr-iconfont {
  font-size: 6.8rem;
}
.display-2 {
  font-family: 'Rubik', sans-serif;
  font-size: 3rem;
}
.display-2 > .mbr-iconfont {
  font-size: 4.8rem;
}
.display-4 {
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
}
.display-4 > .mbr-iconfont {
  font-size: 1.6rem;
}
.display-5 {
  font-family: 'Rubik', sans-serif;
  font-size: 1.5rem;
}
.display-5 > .mbr-iconfont {
  font-size: 2.4rem;
}
.display-7 {
  font-family: 'Rubik', sans-serif;
  font-size: 1.2rem;
}
.display-7 > .mbr-iconfont {
  font-size: 1.92rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.4rem;
    font-size: calc( 2.1374999999999997rem + (4.25 - 2.1374999999999997) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (2.1374999999999997rem + (4.25 - 2.1374999999999997) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.2rem;
    font-size: calc( 1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  font-weight: 500;
  border-width: 2px;
  font-style: normal;
  letter-spacing: 1px;
  margin: .4rem .8rem;
  white-space: normal;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 1rem 3rem;
  border-radius: 3px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  word-break: break-word;
}
.navbar .btn {
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
}
.navbar .btn > .mbr-iconfont {
  font-size: 1.6rem;
}
.btn-sm {
  font-weight: 500;
  letter-spacing: 1px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 0.6rem 1.5rem;
  border-radius: 3px;
}
.btn-md {
  font-weight: 500;
  letter-spacing: 1px;
  margin: .4rem .8rem !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-lg {
  font-weight: 500;
  letter-spacing: 1px;
  margin: .4rem .8rem !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 1.2rem 3.2rem;
  border-radius: 3px;
}
.bg-primary {
  background-color: #149dcc !important;
}
.bg-success {
  background-color: #f7ed4a !important;
}
.bg-info {
  background-color: #82786e !important;
}
.bg-warning {
  background-color: #879a9f !important;
}
.bg-danger {
  background-color: #b1a374 !important;
}
.btn-primary,
.btn-primary:active,
.btn-primary.active {
  background-color: #149dcc;
  border-color: #149dcc;
  color: #ffffff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus {
  color: #ffffff;
  background-color: #0d6786;
  border-color: #0d6786;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #0d6786 !important;
  border-color: #0d6786 !important;
}
.btn-secondary,
.btn-secondary:active,
.btn-secondary.active {
  background-color: #ff3366;
  border-color: #ff3366;
  color: #ffffff;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus {
  color: #ffffff;
  background-color: #e50039;
  border-color: #e50039;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #e50039 !important;
  border-color: #e50039 !important;
}
.btn-info,
.btn-info:active,
.btn-info.active {
  background-color: #82786e;
  border-color: #82786e;
  color: #ffffff;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus {
  color: #ffffff;
  background-color: #59524b;
  border-color: #59524b;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #59524b !important;
  border-color: #59524b !important;
}
.btn-success,
.btn-success:active,
.btn-success.active {
  background-color: #f7ed4a;
  border-color: #f7ed4a;
  color: #ffffff;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus {
  color: #ffffff;
  background-color: #eadd0a;
  border-color: #eadd0a;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #eadd0a !important;
  border-color: #eadd0a !important;
}
.btn-warning,
.btn-warning:active,
.btn-warning.active {
  background-color: #879a9f;
  border-color: #879a9f;
  color: #ffffff;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus {
  color: #ffffff;
  background-color: #617479;
  border-color: #617479;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #617479 !important;
  border-color: #617479 !important;
}
.btn-danger,
.btn-danger:active,
.btn-danger.active {
  background-color: #b1a374;
  border-color: #b1a374;
  color: #ffffff;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus {
  color: #ffffff;
  background-color: #8b7d4e;
  border-color: #8b7d4e;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #8b7d4e !important;
  border-color: #8b7d4e !important;
}
.btn-white {
  color: #333333 !important;
}
.btn-white,
.btn-white:active,
.btn-white.active {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus {
  color: #ffffff;
  background-color: #d4d4d4;
  border-color: #d4d4d4;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #ffffff !important;
  background-color: #d4d4d4 !important;
  border-color: #d4d4d4 !important;
}
.btn-black,
.btn-black:active,
.btn-black.active {
  background-color: #333333;
  border-color: #333333;
  color: #ffffff;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus {
  color: #ffffff;
  background-color: #0d0d0d;
  border-color: #0d0d0d;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-primary-outline,
.btn-primary-outline:active,
.btn-primary-outline.active {
  background: none;
  border-color: #0b566f;
  color: #0b566f;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus {
  color: #ffffff;
  background-color: #149dcc;
  border-color: #149dcc;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #149dcc !important;
  border-color: #149dcc !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  background: none;
  border-color: #cc0033;
  color: #cc0033;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus {
  color: #ffffff;
  background-color: #ff3366;
  border-color: #ff3366;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #ff3366 !important;
  border-color: #ff3366 !important;
}
.btn-info-outline,
.btn-info-outline:active,
.btn-info-outline.active {
  background: none;
  border-color: #4b453f;
  color: #4b453f;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus {
  color: #ffffff;
  background-color: #82786e;
  border-color: #82786e;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #82786e !important;
  border-color: #82786e !important;
}
.btn-success-outline,
.btn-success-outline:active,
.btn-success-outline.active {
  background: none;
  border-color: #d2c609;
  color: #d2c609;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus {
  color: #ffffff;
  background-color: #f7ed4a;
  border-color: #f7ed4a;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #f7ed4a !important;
  border-color: #f7ed4a !important;
}
.btn-warning-outline,
.btn-warning-outline:active,
.btn-warning-outline.active {
  background: none;
  border-color: #55666b;
  color: #55666b;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus {
  color: #ffffff;
  background-color: #879a9f;
  border-color: #879a9f;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #879a9f !important;
  border-color: #879a9f !important;
}
.btn-danger-outline,
.btn-danger-outline:active,
.btn-danger-outline.active {
  background: none;
  border-color: #7a6e45;
  color: #7a6e45;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus {
  color: #ffffff;
  background-color: #b1a374;
  border-color: #b1a374;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #b1a374 !important;
  border-color: #b1a374 !important;
}
.btn-black-outline,
.btn-black-outline:active,
.btn-black-outline.active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus {
  color: #ffffff;
  background-color: #333333;
  border-color: #333333;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333;
  background-color: #ffffff;
  border-color: #ffffff;
}
.text-primary {
  color: #149dcc !important;
}
.text-secondary {
  color: #ff3366 !important;
}
.text-success {
  color: #f7ed4a !important;
}
.text-info {
  color: #82786e !important;
}
.text-warning {
  color: #879a9f !important;
}
.text-danger {
  color: #b1a374 !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #0b566f !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #cc0033 !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #d2c609 !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #4b453f !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #55666b !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #7a6e45 !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #b3b3b3 !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #82786e;
}
.alert-warning {
  background-color: #879a9f;
}
.alert-danger {
  background-color: #b1a374;
}
.mbr-section-btn a.btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-section-btn a.btn:not(.btn-form):hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #149dcc;
  border-color: #149dcc;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
.btn-form {
  border-radius: 0;
}
.btn-form:hover {
  cursor: pointer;
}
a,
a:hover {
  color: #149dcc;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #b4e6f8;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #beb8b2;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ced6d8;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #dfd9c6;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  opacity: 0 !important;
}
/* Others*/
.note-check a[data-value=Rubik] {
  font-style: normal;
}
.mbr-arrow a {
  color: #ffffff;
}
.form-control-label {
  position: relative;
  cursor: pointer;
  margin-bottom: .357em;
  padding: 0;
}
.alert {
  color: #ffffff;
  border-radius: 0;
  border: 0;
  font-size: .875rem;
  line-height: 1.5;
  margin-bottom: 1.875rem;
  padding: 1.25rem;
  position: relative;
}
.alert.alert-form::after {
  background-color: inherit;
  bottom: -7px;
  content: "";
  display: block;
  height: 14px;
  left: 50%;
  margin-left: -7px;
  position: absolute;
  transform: rotate(45deg);
  width: 14px;
}
.form-control {
  background-color: #f5f5f5;
  box-shadow: none;
  color: #565656;
  font-family: 'Rubik', sans-serif;
  font-size: 1.2rem;
  line-height: 1.43;
  min-height: 3.5em;
  padding: 1.07em .5em;
}
.form-control > .mbr-iconfont {
  font-size: 1.92rem;
}
.form-control,
.form-control:focus {
  border: 1px solid #e8e8e8;
}
.form-active .form-control:invalid {
  border-color: red;
}
.mbr-overlay {
  background-color: #000;
  bottom: 0;
  left: 0;
  opacity: .5;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
}
blockquote {
  font-style: italic;
  padding: 10px 0 10px 20px;
  font-size: 1.09rem;
  position: relative;
  border-color: #149dcc;
  border-width: 3px;
}
ul,
ol,
pre,
blockquote {
  margin-bottom: 2.3125rem;
}
pre {
  background: #f4f4f4;
  padding: 10px 24px;
  white-space: pre-wrap;
}
.inactive {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  -webkit-user-drag: none;
  user-drag: none;
}
.mbr-section__comments .row {
  justify-content: center;
}
/* Forms */
.mbr-form .btn {
  margin: .4rem 0;
}
.mbr-form .input-group-btn a.btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn a.btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.form2 .form-control {
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
}
.form2 .input-group-btn a.btn {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.form2 .input-group-btn button[type="submit"] {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.form3 input[type="email"] {
  border-radius: 100px !important;
}
@media (max-width: 349px) {
  .form2 input[type="email"] {
    border-radius: 100px !important;
  }
  .form2 .input-group-btn a.btn {
    border-radius: 100px !important;
  }
  .form2 .input-group-btn button[type="submit"] {
    border-radius: 100px !important;
  }
}
@media (max-width: 767px) {
  .btn {
    font-size: .75rem !important;
  }
  .btn .mbr-iconfont {
    font-size: 1rem !important;
  }
}
/* Social block */
.btn-social {
  font-size: 20px;
  border-radius: 50%;
  padding: 0;
  width: 44px;
  height: 44px;
  line-height: 44px;
  text-align: center;
  position: relative;
  border: 2px solid #c0a375;
  border-color: #149dcc;
  color: #232323;
  cursor: pointer;
}
.btn-social i {
  top: 0;
  line-height: 44px;
  width: 44px;
}
.btn-social:hover {
  color: #fff;
  background: #149dcc;
}
.btn-social + .btn {
  margin-left: .1rem;
}
/* Footer */
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #149dcc;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #149dcc;
}
.footer3 input[type="email"],
.footer4 input[type="email"] {
  border-radius: 100px !important;
}
.footer3 .input-group-btn a.btn,
.footer4 .input-group-btn a.btn {
  border-radius: 100px !important;
}
.footer3 .input-group-btn button[type="submit"],
.footer4 .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
}
/* Headers*/
.header13 .form-inline input[type="email"],
.header14 .form-inline input[type="email"] {
  border-radius: 100px;
}
.header13 .form-inline input[type="text"],
.header14 .form-inline input[type="text"] {
  border-radius: 100px;
}
.header13 .form-inline input[type="tel"],
.header14 .form-inline input[type="tel"] {
  border-radius: 100px;
}
.header13 .form-inline a.btn,
.header14 .form-inline a.btn {
  border-radius: 100px;
}
.header13 .form-inline button,
.header14 .form-inline button {
  border-radius: 100px !important;
}
.cid-qM2DuIcIZi {
  padding-top: 90px;
  padding-bottom: 90px;
  background: linear-gradient(45deg, #9d5cd6, #f23c3c);
}
.cid-qM2DuIcIZi H1 {
  text-align: left;
}
.cid-qM2DuIcIZi .mbr-text,
.cid-qM2DuIcIZi .mbr-section-btn {
  text-align: left;
}
.cid-qM2E0iouwU {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #2e2e2e;
}
.cid-qM2E0iouwU .line {
  background-color: #ffffff;
  color: #ffffff;
  align: center;
  height: 2px;
  margin: 0 auto;
}
.cid-qM2E0iouwU .section-text {
  padding: 2rem 0;
}
.cid-qM2E0iouwU .inner-container {
  margin: 0 auto;
}
@media (max-width: 768px) {
  .cid-qM2E0iouwU .inner-container {
    width: 100% !important;
  }
}
.cid-qM2E0iouwU .section-text DIV {
  text-align: left;
}
.cid-qM2EK1BBpm {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #fff54b;
}
.cid-qM2EK1BBpm .mbr-text,
.cid-qM2EK1BBpm blockquote {
  color: #767676;
}
.cid-qM2EK1BBpm .mbr-text B {
  color: #000000;
}
.cid-qM2EK1BBpm .mbr-text {
  color: #232323;
}
.cid-qM2Fa8PY4b {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-qM2Fa8PY4b .mbr-section-subtitle {
  color: #232323;
  text-align: center;
}
.cid-qM2Fa8PY4b .mbr-section-subtitle DIV {
  text-align: left;
  color: #232323;
}
.cid-qM2GlvL0qI {
  padding-top: 60px;
  padding-bottom: 15px;
  background-image: url("../../../assets/images/pic64-1080x734.jpg");
}
.cid-qM2GlvL0qI H2 {
  color: #ffffff;
}
.cid-qM2GlvL0qI .mbr-section-subtitle {
  color: #ffffff;
}
.cid-qM2HRzn5Qb {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #ffffff;
}
.cid-qM2HRzn5Qb .line {
  background-color: #ff7f9f;
  color: #ff7f9f;
  align: center;
  height: 2px;
  margin: 0 auto;
}
.cid-qM2HRzn5Qb .section-text {
  padding: 2rem 0;
  text-align: center;
}
.cid-qM2HRzn5Qb .inner-container {
  margin: 0 auto;
}
@media (max-width: 768px) {
  .cid-qM2HRzn5Qb .inner-container {
    width: 100% !important;
  }
}
.cid-qM2HRzn5Qb .section-text DIV {
  text-align: center;
  color: #232323;
}
.cid-qM2Iao59vc {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ff7f9f;
}
.cid-qM2Iao59vc .counter-container {
  color: #767676;
}
.cid-qM2Iao59vc .counter-container ol {
  margin-bottom: 0;
  counter-reset: myCounter;
}
.cid-qM2Iao59vc .counter-container ol li {
  margin-bottom: 1rem;
}
.cid-qM2Iao59vc .counter-container ol li {
  list-style: none;
  padding-left: .5rem;
}
.cid-qM2Iao59vc .counter-container ol li:before {
  position: absolute;
  left: 0px;
  margin-top: -10px;
  counter-increment: myCounter;
  content: counter(myCounter);
  display: inline-block;
  text-align: center;
  margin: 5px 10px;
  line-height: 40px;
  transition: all .2s;
  color: #ffffff;
  background: #ff3366;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.cid-qM2Iao59vc .mbr-text LI {
  color: #ffffff;
}
.cid-qM2IGi43jQ {
  padding-top: 30px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-qM2IGi43jQ .mbr-text,
.cid-qM2IGi43jQ blockquote {
  color: #767676;
}
.cid-qM2IGi43jQ .mbr-text {
  color: #232323;
}
.cid-qM2ISwVnIu {
  padding-top: 60px;
  padding-bottom: 30px;
  background: linear-gradient(45deg, #7fd9fc, #6576aa);
}
.cid-qM2JmXqHlF {
  padding-top: 60px;
  padding-bottom: 15px;
  background-color: #ffffff;
}
.cid-qM2JmXqHlF .mbr-section-subtitle {
  color: #232323;
}
.cid-qM2JC4PcFi {
  padding-top: 60px;
  padding-bottom: 45px;
  background-color: #f7ed4a;
}
.cid-qM2JC4PcFi H2 {
  color: #232323;
}
.cid-qM2JC4PcFi .mbr-section-subtitle {
  color: #232323;
}
.cid-qM2JUiapRU {
  padding-top: 60px;
  padding-bottom: 15px;
  background-color: #f9f9f9;
}
.cid-qM2JUiapRU .mbr-text,
.cid-qM2JUiapRU blockquote {
  color: #767676;
}
.cid-qM2JUiapRU BLOCKQUOTE {
  color: #232323;
}
.cid-qM2KfUXM6d {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #2e2e2e;
}
.cid-qM2KfUXM6d .line {
  background-color: #ffffff;
  color: #ffffff;
  align: center;
  height: 2px;
  margin: 0 auto;
}
.cid-qM2KfUXM6d .section-text {
  padding: 2rem 0;
}
.cid-qM2KfUXM6d .inner-container {
  margin: 0 auto;
}
@media (max-width: 768px) {
  .cid-qM2KfUXM6d .inner-container {
    width: 100% !important;
  }
}
.cid-qM2KtpHsx7 {
  padding-top: 60px;
  padding-bottom: 15px;
  background-color: #ffffff;
}
.cid-qM2KtpHsx7 .mbr-section-subtitle {
  color: #232323;
}
.cid-qM2KtpHsx7 .mbr-section-subtitle DIV {
  color: #000000;
}
.cid-qM2KIUjwCJ {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
  position: relative;
}
.cid-qM2KIUjwCJ p {
  color: #767676;
}
.cid-qM2KIUjwCJ .card {
  border-radius: 0px;
  margin-bottom: -1px;
}
.cid-qM2KIUjwCJ .card .card-header {
  border-radius: 0px;
  border: 0px;
  padding: 0;
}
.cid-qM2KIUjwCJ .card .card-header a.panel-title {
  margin-bottom: 0;
  margin-top: -1px;
  font-weight: 500;
  font-style: normal;
  display: block;
  text-decoration: none !important;
  line-height: normal;
}
.cid-qM2KIUjwCJ .card .card-header a.panel-title:focus {
  text-decoration: none !important;
}
.cid-qM2KIUjwCJ .card .card-header a.panel-title h4 {
  border: 1px solid #dfdfdf;
  padding: 1.3rem 2rem;
  margin-bottom: 0;
}
.cid-qM2KIUjwCJ .card .card-header a.panel-title h4 .sign {
  padding-right: 1rem;
}
.cid-qM2LM6fjxn {
  padding-top: 60px;
  padding-bottom: 0px;
  background-image: url("../../../assets/images/pic9-1080x684.jpg");
}
.cid-qM2M3pIVmx {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-qM2M3pIVmx .mbr-text,
.cid-qM2M3pIVmx blockquote {
  color: #767676;
}
.cid-qM2M3pIVmx .mbr-text DIV {
  color: #232323;
}
.cid-qM2M3pIVmx .mbr-text {
  color: #232323;
}
.cid-qM2MdBn8jy {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #b2ccd2;
}
.cid-qM2MdBn8jy .mbr-section-subtitle {
  color: #767676;
}
.cid-qM2MdBn8jy .mbr-section-subtitle DIV {
  text-align: left;
  color: #232323;
}
.cid-qM2Mr1GuVD {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-qM2Mr1GuVD .mbr-text,
.cid-qM2Mr1GuVD blockquote {
  color: #767676;
}
.cid-qM2Mr1GuVD .mbr-text P {
  color: #232323;
}
.cid-qM2MI2pyBT {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #2e2e2e;
}
.cid-qM2MI2pyBT .line {
  background-color: #ffffff;
  color: #ffffff;
  align: center;
  height: 2px;
  margin: 0 auto;
}
.cid-qM2MI2pyBT .section-text {
  padding: 2rem 0;
}
.cid-qM2MI2pyBT .inner-container {
  margin: 0 auto;
}
@media (max-width: 768px) {
  .cid-qM2MI2pyBT .inner-container {
    width: 100% !important;
  }
}
.cid-qM2MSaY8k1 {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #0f7699;
}
.cid-qM2N1AiRjX {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-qM2N1AiRjX .mbr-text,
.cid-qM2N1AiRjX blockquote {
  color: #767676;
}
.cid-qM2N1AiRjX .mbr-text DIV {
  color: #232323;
}
.cid-qM2N1AiRjX .mbr-text {
  color: #232323;
}
.cid-qM2N8U9WAU {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f7ed4a;
}
.cid-qM2N8U9WAU .mbr-text,
.cid-qM2N8U9WAU blockquote {
  color: #767676;
}
.cid-qM2N8U9WAU .mbr-text DIV {
  color: #000000;
}
.cid-qM2N8U9WAU .mbr-text {
  color: #000000;
}
.cid-qM2Nj5apWP {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-qM2Nj5apWP .mbr-text,
.cid-qM2Nj5apWP blockquote {
  color: #767676;
}
.cid-qM2Nj5apWP .mbr-text {
  color: #232323;
}
.cid-qM2NqmwafY {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #ffffff;
}
.cid-qM2NqmwafY .line {
  background-color: #149dcc;
  color: #149dcc;
  align: center;
  height: 2px;
  margin: 0 auto;
}
.cid-qM2NqmwafY .section-text {
  padding: 2rem 0;
}
.cid-qM2NqmwafY .inner-container {
  margin: 0 auto;
}
@media (max-width: 768px) {
  .cid-qM2NqmwafY .inner-container {
    width: 100% !important;
  }
}
.cid-qM2NDQWAFf {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #b2ccd2;
}
.cid-qM2NDQWAFf .mbr-section-subtitle DIV {
  color: #232323;
}
.cid-qM2NDQWAFf .mbr-section-subtitle {
  color: #232323;
}
.cid-qM2NUIvszo {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #efefef;
}
.cid-qM2NUIvszo H2 {
  color: #232323;
}
.cid-qMUtyBQbWY {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #ffffff;
}
.cid-qMUtyBQbWY .line {
  background-color: #f23c3c;
  color: #f23c3c;
  align: center;
  height: 2px;
  margin: 0 auto;
}
.cid-qMUtyBQbWY .section-text {
  padding: 2rem 0;
}
.cid-qMUtyBQbWY .inner-container {
  margin: 0 auto;
}
@media (max-width: 768px) {
  .cid-qMUtyBQbWY .inner-container {
    width: 100% !important;
  }
}
.cid-qM2ObPGbgW {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #346c9b;
}
.cid-qM2ObPGbgW .mbr-text,
.cid-qM2ObPGbgW blockquote {
  color: #767676;
}
.cid-qM2ObPGbgW P {
  color: #ffffff;
}
.cid-qMUtOZTavZ {
  padding-top: 90px;
  padding-bottom: 90px;
  background-image: url("../../../assets/images/mbr-903x1080.jpg");
}
.cid-qM2OjNtWQ1 {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-qM2OjNtWQ1 .mbr-section-subtitle {
  color: #232323;
}
.cid-qM2OjNtWQ1 .mbr-section-subtitle DIV {
  color: #0f7699;
}
.cid-qM2OxVsAzu {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2ba66a;
}
.cid-qM2OxVsAzu .mbr-section-subtitle {
  color: #767676;
}
.cid-qM2OxVsAzu H2 {
  color: #ffffff;
}
.cid-qM2OJc6eoM {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-qM2OJc6eoM .counter-container {
  color: #767676;
}
.cid-qM2OJc6eoM .counter-container ol {
  margin-bottom: 0;
  counter-reset: myCounter;
}
.cid-qM2OJc6eoM .counter-container ol li {
  margin-bottom: 1rem;
}
.cid-qM2OJc6eoM .counter-container ol li {
  list-style: none;
  padding-left: .5rem;
}
.cid-qM2OJc6eoM .counter-container ol li:before {
  position: absolute;
  left: 0px;
  margin-top: -10px;
  counter-increment: myCounter;
  content: counter(myCounter);
  display: inline-block;
  text-align: center;
  margin: 5px 10px;
  line-height: 40px;
  transition: all .2s;
  color: #ffffff;
  background: #149dcc;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.cid-qM2OJc6eoM .mbr-text LI {
  color: #232323;
}
.cid-qM2OWVTvyk {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f23c3c;
}
.cid-qM2OWVTvyk .mbr-section-subtitle {
  color: #767676;
}
.cid-qM2OWVTvyk .mbr-section-subtitle DIV {
  color: #ffffff;
}
.cid-qM2OWVTvyk H2 {
  color: #ffffff;
}
.cid-qM2Pb9Vj8O {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #e9e9e9;
}
.cid-qM2Pb9Vj8O .mbr-text,
.cid-qM2Pb9Vj8O blockquote {
  color: #767676;
}
.cid-qM2Pb9Vj8O .mbr-text P {
  color: #232323;
}
.cid-qM2PiWMv6h {
  padding-top: 90px;
  padding-bottom: 90px;
  background: linear-gradient(45deg, #fbac7f, #e5658a);
}
.cid-qM2PiWMv6h .mbr-section-subtitle {
  font-style: italic;
  letter-spacing: 1rem;
}
.cid-qM2PAt2bzK {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-qM2PAt2bzK .mbr-section-subtitle {
  color: #232323;
  text-align: left;
}
.cid-qM2PAt2bzK .mbr-section-subtitle DIV {
  text-align: left;
  color: #232323;
}
.cid-qM2PAt2bzK H2 {
  text-align: left;
}
.cid-qM2PLONHrk {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #b2ccd2;
}
.cid-qM2PLONHrk .line {
  background-color: #f9f9f9;
  color: #f9f9f9;
  align: center;
  height: 2px;
  margin: 0 auto;
}
.cid-qM2PLONHrk .section-text {
  padding: 2rem 0;
  text-align: left;
}
.cid-qM2PLONHrk .inner-container {
  margin: 0 auto;
}
@media (max-width: 768px) {
  .cid-qM2PLONHrk .inner-container {
    width: 100% !important;
  }
}
.cid-qM2PLONHrk .section-text DIV {
  text-align: left;
}
.cid-qNnE5MKRlP {
  padding-top: 30px;
  padding-bottom: 60px;
  background-color: #b2ccd2;
  position: relative;
}
.cid-qNnE5MKRlP .card {
  border-radius: 0px;
  margin-bottom: -1px;
}
.cid-qNnE5MKRlP .card .card-header {
  border-radius: 0px;
  border: 0px;
  padding: 0;
}
.cid-qNnE5MKRlP .card .card-header a.panel-title {
  margin-bottom: 0;
  font-style: normal;
  font-weight: 500;
  display: block;
  text-decoration: none !important;
  margin-top: -1px;
  line-height: normal;
}
.cid-qNnE5MKRlP .card .card-header a.panel-title:focus {
  text-decoration: none !important;
}
.cid-qNnE5MKRlP .card .card-header a.panel-title h4 {
  padding: 1.3rem 2rem;
  border: 1px solid #dfdfdf;
  margin-bottom: 0;
}
.cid-qNnE5MKRlP .card .card-header a.panel-title h4 .sign {
  padding-right: 1rem;
}
.cid-qNnE5MKRlP .card .panel-body {
  color: #767676;
}
.cid-qNnE5MKRlP .panel-text {
  color: #232323;
}
.cid-qNnD291OPc {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #e9e9e9;
}
.cid-qNnD291OPc .mbr-text,
.cid-qNnD291OPc blockquote {
  color: #767676;
}
.cid-qNnD291OPc .mbr-text DIV {
  color: #232323;
}
.cid-qNnD291OPc .mbr-text {
  color: #232323;
}
.cid-qM3JXajncK {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-qM3JXajncK .mbr-section-subtitle {
  color: #232323;
}
.cid-qM3JXajncK .mbr-section-subtitle DIV {
  color: #232323;
}
.cid-qM3KnFdJDs {
  padding-top: 90px;
  padding-bottom: 90px;
  background: linear-gradient(45deg, #f9f295, #25aab2);
}
.cid-qM3KnFdJDs .btn {
  margin: 0 0 .5rem 0;
}
.cid-qM3KnFdJDs H2 {
  text-align: center;
}
.cid-qM3KnFdJDs H3 {
  text-align: center;
}
.cid-qM3L78HPXj {
  padding-top: 90px;
  padding-bottom: 90px;
  background: linear-gradient(45deg, #fbac7f, #e5658a);
}
.cid-qM3L78HPXj .mbr-section-subtitle {
  font-style: italic;
  letter-spacing: 1rem;
}
