@import url(../../../https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i);





body {
  font-family: Rubik;
  font-style: normal;
  line-height: 1.5;
}
.mbr-section-title {
  font-style: normal;
  line-height: 1.2;
}
.mbr-section-subtitle {
  line-height: 1.3;
}
.mbr-text {
  font-style: normal;
  line-height: 1.6;
}
.display-1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 4.25rem;
}
.display-1 > .mbr-iconfont {
  font-size: 6.8rem;
}
.display-2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 3rem;
}
.display-2 > .mbr-iconfont {
  font-size: 4.8rem;
}
.display-4 {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
}
.display-4 > .mbr-iconfont {
  font-size: 1.6rem;
}
.display-5 {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.4rem;
}
.display-5 > .mbr-iconfont {
  font-size: 2.24rem;
}
.display-7 {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
}
.display-7 > .mbr-iconfont {
  font-size: 1.6rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.4rem;
    font-size: calc( 2.1374999999999997rem + (4.25 - 2.1374999999999997) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (2.1374999999999997rem + (4.25 - 2.1374999999999997) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.12rem;
    font-size: calc( 1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  font-weight: 500;
  border-width: 2px;
  font-style: normal;
  letter-spacing: 1px;
  margin: .4rem .8rem;
  white-space: normal;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 1rem 3rem;
  border-radius: 3px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  word-break: break-word;
}
.navbar .btn {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
}
.navbar .btn > .mbr-iconfont {
  font-size: 1.6rem;
}
.btn-sm {
  font-weight: 500;
  letter-spacing: 1px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 0.6rem 1.5rem;
  border-radius: 3px;
}
.btn-md {
  font-weight: 500;
  letter-spacing: 1px;
  margin: .4rem .8rem !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-lg {
  font-weight: 500;
  letter-spacing: 1px;
  margin: .4rem .8rem !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 1.2rem 3.2rem;
  border-radius: 3px;
}
.bg-primary {
  background-color: #149dcc !important;
}
.bg-success {
  background-color: #f7ed4a !important;
}
.bg-info {
  background-color: #82786e !important;
}
.bg-warning {
  background-color: #879a9f !important;
}
.bg-danger {
  background-color: #b1a374 !important;
}
.btn-primary,
.btn-primary:active,
.btn-primary.active {
  background-color: #149dcc;
  border-color: #149dcc;
  color: #ffffff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus {
  color: #ffffff;
  background-color: #0d6786;
  border-color: #0d6786;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #0d6786 !important;
  border-color: #0d6786 !important;
}
.btn-secondary,
.btn-secondary:active,
.btn-secondary.active {
  background-color: #ff3366;
  border-color: #ff3366;
  color: #ffffff;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus {
  color: #ffffff;
  background-color: #e50039;
  border-color: #e50039;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #e50039 !important;
  border-color: #e50039 !important;
}
.btn-info,
.btn-info:active,
.btn-info.active {
  background-color: #82786e;
  border-color: #82786e;
  color: #ffffff;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus {
  color: #ffffff;
  background-color: #59524b;
  border-color: #59524b;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #59524b !important;
  border-color: #59524b !important;
}
.btn-success,
.btn-success:active,
.btn-success.active {
  background-color: #f7ed4a;
  border-color: #f7ed4a;
  color: #ffffff;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus {
  color: #ffffff;
  background-color: #eadd0a;
  border-color: #eadd0a;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #eadd0a !important;
  border-color: #eadd0a !important;
}
.btn-warning,
.btn-warning:active,
.btn-warning.active {
  background-color: #879a9f;
  border-color: #879a9f;
  color: #ffffff;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus {
  color: #ffffff;
  background-color: #617479;
  border-color: #617479;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #617479 !important;
  border-color: #617479 !important;
}
.btn-danger,
.btn-danger:active,
.btn-danger.active {
  background-color: #b1a374;
  border-color: #b1a374;
  color: #ffffff;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus {
  color: #ffffff;
  background-color: #8b7d4e;
  border-color: #8b7d4e;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #8b7d4e !important;
  border-color: #8b7d4e !important;
}
.btn-white {
  color: #333333 !important;
}
.btn-white,
.btn-white:active,
.btn-white.active {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus {
  color: #ffffff;
  background-color: #d4d4d4;
  border-color: #d4d4d4;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #ffffff !important;
  background-color: #d4d4d4 !important;
  border-color: #d4d4d4 !important;
}
.btn-black,
.btn-black:active,
.btn-black.active {
  background-color: #333333;
  border-color: #333333;
  color: #ffffff;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus {
  color: #ffffff;
  background-color: #0d0d0d;
  border-color: #0d0d0d;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-primary-outline,
.btn-primary-outline:active,
.btn-primary-outline.active {
  background: none;
  border-color: #0b566f;
  color: #0b566f;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus {
  color: #ffffff;
  background-color: #149dcc;
  border-color: #149dcc;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #149dcc !important;
  border-color: #149dcc !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  background: none;
  border-color: #cc0033;
  color: #cc0033;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus {
  color: #ffffff;
  background-color: #ff3366;
  border-color: #ff3366;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #ff3366 !important;
  border-color: #ff3366 !important;
}
.btn-info-outline,
.btn-info-outline:active,
.btn-info-outline.active {
  background: none;
  border-color: #4b453f;
  color: #4b453f;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus {
  color: #ffffff;
  background-color: #82786e;
  border-color: #82786e;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #82786e !important;
  border-color: #82786e !important;
}
.btn-success-outline,
.btn-success-outline:active,
.btn-success-outline.active {
  background: none;
  border-color: #d2c609;
  color: #d2c609;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus {
  color: #ffffff;
  background-color: #f7ed4a;
  border-color: #f7ed4a;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #f7ed4a !important;
  border-color: #f7ed4a !important;
}
.btn-warning-outline,
.btn-warning-outline:active,
.btn-warning-outline.active {
  background: none;
  border-color: #55666b;
  color: #55666b;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus {
  color: #ffffff;
  background-color: #879a9f;
  border-color: #879a9f;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #879a9f !important;
  border-color: #879a9f !important;
}
.btn-danger-outline,
.btn-danger-outline:active,
.btn-danger-outline.active {
  background: none;
  border-color: #7a6e45;
  color: #7a6e45;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus {
  color: #ffffff;
  background-color: #b1a374;
  border-color: #b1a374;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #b1a374 !important;
  border-color: #b1a374 !important;
}
.btn-black-outline,
.btn-black-outline:active,
.btn-black-outline.active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus {
  color: #ffffff;
  background-color: #333333;
  border-color: #333333;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333;
  background-color: #ffffff;
  border-color: #ffffff;
}
.text-primary {
  color: #149dcc !important;
}
.text-secondary {
  color: #ff3366 !important;
}
.text-success {
  color: #f7ed4a !important;
}
.text-info {
  color: #82786e !important;
}
.text-warning {
  color: #879a9f !important;
}
.text-danger {
  color: #b1a374 !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #0b566f !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #cc0033 !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #d2c609 !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #4b453f !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #55666b !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #7a6e45 !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #b3b3b3 !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #82786e;
}
.alert-warning {
  background-color: #879a9f;
}
.alert-danger {
  background-color: #b1a374;
}
.mbr-gallery-filter li.active .btn {
  background-color: #149dcc;
  border-color: #149dcc;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.btn-form {
  border-radius: 0;
}
.btn-form:hover {
  cursor: pointer;
}
a,
a:hover {
  color: #149dcc;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #b4e6f8;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #beb8b2;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ced6d8;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #dfd9c6;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  opacity: 0 !important;
}
/* Others*/
.note-check a[data-value=Rubik] {
  font-style: normal;
}
.mbr-arrow a {
  color: #ffffff;
}
.form-control-label {
  position: relative;
  cursor: pointer;
  margin-bottom: .357em;
  padding: 0;
}
.alert {
  color: #ffffff;
  border-radius: 0;
  border: 0;
  font-size: .875rem;
  line-height: 1.5;
  margin-bottom: 1.875rem;
  padding: 1.25rem;
  position: relative;
}
.alert.alert-form::after {
  background-color: inherit;
  bottom: -7px;
  content: "";
  display: block;
  height: 14px;
  left: 50%;
  margin-left: -7px;
  position: absolute;
  transform: rotate(45deg);
  width: 14px;
}
.form-control {
  background-color: #f5f5f5;
  box-shadow: none;
  color: #565656;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  line-height: 1.43;
  min-height: 3.5em;
  padding: 1.07em .5em;
}
.form-control > .mbr-iconfont {
  font-size: 1.6rem;
}
.form-control,
.form-control:focus {
  border: 1px solid #e8e8e8;
}
.form-active .form-control:invalid {
  border-color: red;
}
.mbr-overlay {
  background-color: #000;
  bottom: 0;
  left: 0;
  opacity: .5;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
}
blockquote {
  font-style: italic;
  padding: 10px 0 10px 20px;
  font-size: 1.09rem;
  position: relative;
  border-color: #149dcc;
  border-width: 3px;
}
ul,
ol,
pre,
blockquote {
  margin-bottom: 2.3125rem;
}
pre {
  background: #f4f4f4;
  padding: 10px 24px;
  white-space: pre-wrap;
}
.inactive {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  -webkit-user-drag: none;
  user-drag: none;
}
.mbr-section__comments .row {
  justify-content: center;
}
/* Forms */
.mbr-form .btn {
  margin: .4rem 0;
}
@media (max-width: 767px) {
  .btn {
    font-size: .75rem !important;
  }
  .btn .mbr-iconfont {
    font-size: 1rem !important;
  }
}
/* Social block */
.btn-social {
  font-size: 20px;
  border-radius: 50%;
  padding: 0;
  width: 44px;
  height: 44px;
  line-height: 44px;
  text-align: center;
  position: relative;
  border: 2px solid #c0a375;
  border-color: #149dcc;
  color: #232323;
  cursor: pointer;
}
.btn-social i {
  top: 0;
  line-height: 44px;
  width: 44px;
}
.btn-social:hover {
  color: #fff;
  background: #149dcc;
}
.btn-social + .btn {
  margin-left: .1rem;
}
/* Footer */
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #149dcc;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #149dcc;
}
/* Headers*/
.cid-qQ7Lcl2PKc {
  background-image: url("../../../assets/images/mbr-1620x1080.jpg");
}
.cid-qQ7Lcl2PKc .form-container {
  transition: all .2s;
  border: 1px solid #ffffff;
  padding: 1rem;
}
@media (min-width: 768px) {
  .cid-qQ7Lcl2PKc .content-container {
    padding-right: 5rem;
  }
}
.cid-qQ7Lcl2PKc .mbr-text,
.cid-qQ7Lcl2PKc .mbr-section-btn {
  text-align: center;
}
.cid-qQ7Lcl2PKc H1 {
  text-align: center;
}
.cid-qQbgDKbekZ {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #4f4943;
}
.cid-qQbgDKbekZ .line {
  background-color: #ffffff;
  color: #ffffff;
  align: center;
  height: 2px;
  margin: 0 auto;
}
.cid-qQbgDKbekZ .section-text {
  padding: 2rem 0;
  color: #ffffff;
}
.cid-qQbgDKbekZ .inner-container {
  margin: 0 auto;
}
@media (max-width: 768px) {
  .cid-qQbgDKbekZ .inner-container {
    width: 100% !important;
  }
}
.cid-qQbickEnzn {
  padding-top: 90px;
  padding-bottom: 90px;
  background-image: url("../../../assets/images/mbr-1-1620x1080.jpg");
}
.cid-qQbickEnzn h1 {
  color: #616161;
}
.cid-qQbickEnzn h2,
.cid-qQbickEnzn h3,
.cid-qQbickEnzn p {
  color: #767676;
}
.cid-qQbickEnzn .mbr-section-subtitle {
  font-style: italic;
}
.cid-qQbickEnzn H3 {
  color: #232323;
}
.cid-qQbiVUvtsP {
  padding-top: 60px;
  padding-bottom: 60px;
  background-image: url("../../../assets/images/mbr-2-1620x1080.jpg");
}
.cid-qQbjEY7dg1 {
  padding-top: 90px;
  padding-bottom: 90px;
  background-image: url("../../../assets/images/mbr-3-1620x1080.jpg");
}
.cid-qQbjEY7dg1 .mbr-section-subtitle {
  font-style: italic;
  letter-spacing: 1rem;
}
.cid-qQbkRGryvT {
  padding-top: 90px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-qQbkRGryvT .mbr-section-subtitle {
  color: #464545;
}
.cid-qQbl9NyHp3 {
  padding-top: 60px;
  padding-bottom: 60px;
  background-image: url("../../../assets/images/mbr-1587x1080.jpg");
}
.cid-qQbm90x8g6 {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #ffffff;
}
.cid-qQbm90x8g6 .line {
  background-color: #c1c1c1;
  color: #c1c1c1;
  align: center;
  height: 2px;
  margin: 0 auto;
}
.cid-qQbm90x8g6 .section-text {
  padding: 2rem 0;
}
.cid-qQbm90x8g6 .inner-container {
  margin: 0 auto;
}
@media (max-width: 768px) {
  .cid-qQbm90x8g6 .inner-container {
    width: 100% !important;
  }
}
.cid-qQbmiwF3ur {
  padding-top: 60px;
  padding-bottom: 60px;
  background-image: url("../../../assets/images/mbr-4-1620x1080.jpg");
}
.cid-qQbndOriTy {
  padding-top: 60px;
  padding-bottom: 15px;
  background-color: #ffffff;
}
.cid-qQbndOriTy .mbr-section-subtitle {
  color: #767676;
}
.cid-qQbnaXz6V4 {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #ffffff;
  position: relative;
}
.cid-qQbnaXz6V4 p {
  color: #767676;
}
.cid-qQbnaXz6V4 .card {
  border-radius: 0px;
  margin-bottom: -1px;
}
.cid-qQbnaXz6V4 .card .card-header {
  border-radius: 0px;
  border: 0px;
  padding: 0;
}
.cid-qQbnaXz6V4 .card .card-header a.panel-title {
  margin-bottom: 0;
  margin-top: -1px;
  font-weight: 500;
  font-style: normal;
  display: block;
  text-decoration: none !important;
  line-height: normal;
}
.cid-qQbnaXz6V4 .card .card-header a.panel-title:focus {
  text-decoration: none !important;
}
.cid-qQbnaXz6V4 .card .card-header a.panel-title h4 {
  border: 1px solid #dfdfdf;
  padding: 1.3rem 2rem;
  margin-bottom: 0;
}
.cid-qQbnaXz6V4 .card .card-header a.panel-title h4 .sign {
  padding-right: 1rem;
}
.cid-qQbnOCdOoP {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-qQbnOCdOoP .mbr-section-subtitle {
  color: #232323;
}
.cid-qQbnOCdOoP H2 {
  color: #ffffff;
}
.cid-qQboy0F2bJ {
  padding-top: 60px;
  padding-bottom: 60px;
  background-image: url("../../../assets/images/mbr-1631x1080.jpg");
}
.cid-qQbp2wBD9l {
  padding-top: 90px;
  padding-bottom: 90px;
  background-image: url("../../../assets/images/mbr-5-1620x1080.jpg");
}
.cid-qQbp2wBD9l H3 {
  color: #232323;
}
.cid-qQbp2wBD9l P {
  color: #232323;
}
.cid-qQbqO4oMhB {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-qQbqO4oMhB .mbr-section-subtitle {
  color: #767676;
}
